<%= t("companyMembersPermissionsEdited.yourAccessLevelHasBeenUpdated2", %{v1: short_name(@author)}) %>

<%= t("companyMembersPermissionsEdited.previousAccessLevel", %{v1: @previous_access_level}) %>
<%= t("companyMembersPermissionsEdited.newAccessLevel", %{v1: @updated_access_level}) %>

<%= t("companyMembersPermissionsEdited.link", %{v1: @link}) %>
