<%= title(t("companyOwnersAdding.youHaveBeenPromotedToCompany", %{v1: short_name(@author)})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("companyOwnersAdding.viewCompany")) %>
<% end %>
