<%= t("companyMemberConvertedToGuest.convertedYourAccountInToAn", %{v1: short_name(@author), v2: @company.name}) %>

<%= t("companyMemberConvertedToGuest.yourTeamMemberPermissionsWereRemoved") %>

<%= t("companyMemberConvertedToGuest.logInToOperately2", %{v1: @login_url}) %>
