<%= title(t("companyAdminRemoved.yourAdminPrivilegesHaveBeenRevoked", %{v1: short_name(@author)})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("companyAdminRemoved.viewCompany")) %>
<% end %>
