<%= title(t("companyMemberConvertedToGuest.v1ConvertedYourAccountInV2", %{v1: short_name(@author), v2: @company.name})) %>

<%= spacer() %>

<%= row do %>
  <%= t("companyMemberConvertedToGuest.yourTeamMemberPermissionsWereRemoved") %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@login_url, t("companyMemberConvertedToGuest.logInToOperately")) %>
<% end %>
