<%= title(t("companyMemberRestoring.yourAccountHasBeenRestoredAs", %{v1: short_name(@author)})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("companyMemberRestoring.viewCompany")) %>
<% end %>
