<%= title(if @total_updates == 1,
      do: t("dailyActivityDigest.youHaveOneNewUpdate"),
      else: t("dailyActivityDigest.youHaveNewUpdates", %{v1: @total_updates})) %>

<%= if Enum.empty?(@parent_groups) do %>
  <%= spacer() %>
  <%= digest_empty_state(t("dailyActivityDigest.youReAllCaughtUp"), t("dailyActivityDigest.noNewUpdates")) %>
<% else %>
  <%= for group <- @parent_groups do %>
    <%= digest_group(group) %>
  <% end %>
<% end %>

<%= spacer() %>
<%= line() %>
<%= spacer() %>

<%= row do %>
  <div style="font-family: sans-serif; font-size: 12px; color: #94a3b8; text-align: center;">
    <%= link(@settings_url, t("dailyActivityDigest.manageEmailSettings")) %>
  </div>
<% end %>
