<%= title(t("discussionPosting.v1PostedV2", %{v1: short_name(@author), v2: @title})) %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@message.body) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("discussionPosting.viewDiscussion")) %>
<% end %>
