<%= title(t("emailActivationCode.confirmYourEmailAddress")) %>

<%= spacer() %>

<%= row do %>
  <%= t("emailActivationCode.yourConfirmationCodeIsBelow") %>
<% end %>

<%= spacer() %>

<tr style="height: 80px; font-size: 40px; font-family: monospace;">
  <td>
    <%= @code %>
  </td>
</tr>

<%= spacer() %>

<%= row do %>
  <%= t("emailActivationCode.ifYouDidntRequestThisEmail") %>
<% end %>
