<%= title(t("goalReviewerUpdating.v1AssignedYouAsTheReviewer", %{v1: short_name(@author), v2: @goal.name})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("goalReviewerUpdating.viewGoal")) %>
<% end %>
