<%= title(t("goalEditing.v1EditedTheV2Goal", %{v1: short_name(@author), v2: @goal.name})) %>

<%= spacer() %>

<%= if @content.old_name != @content.new_name do %>
  <%= row do %>
    <%= t("goalEditing.theNameWasChangedFromTo", %{v1: @content.old_name, v2: @content.new_name}) %>
  <% end %>
<% end %>

<%= if @content.old_timeframe != @content.new_timeframe do %>
  <%= row do %>
    <%= t("goalEditing.theTimeframeWasChangedFromTo", %{v1: @content.old_timeframe, v2: @content.new_timeframe}) %>
  <% end %>
<% end %>

<%= if @content.old_champion_id != @content.new_champion_id do %>
  <%= row do %>
    <%= t("goalEditing.theChampionWasChangedFromTo", %{v1: short_name(@old_champion), v2: short_name(@new_champion)}) %>
  <% end %>
<% end %>

<%= if @content.old_reviewer_id != @content.new_reviewer_id do %>
  <%= row do %>
    <%= t("goalEditing.theReviewerWasChangedFromTo", %{v1: short_name(@old_reviewer), v2: short_name(@new_reviewer)}) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= if @content.added_targets != [] do %>
  <%= row do %>
    <%= t("goalEditing.theFollowingMeasurementsWereAdded") %>
  <% end %>

  <%= for target <- @content.added_targets do %>
    <%= row do %>
      - <%= target.name %>
    <% end %>
  <% end %>
<% end %>

<%= spacer() %>

<%= if @content.updated_targets != [] do %>
  <%= row do %>
    <%= t("goalEditing.theFollowingMeasurementsWereUpdated") %>
  <% end %>

  <%= for target <- @content.updated_targets do %>
    <%= row do %>
      - <%= target.new_name %>
    <% end %>
  <% end %>
<% end %>

<%= spacer() %>

<%= if @content.deleted_targets != [] do %>
  <%= row do %>
    <%= t("goalEditing.theFollowingMeasurementsWereDeleted") %>
  <% end %>

  <%= for target <- @content.deleted_targets do %>
    <%= row do %>
      - <%= target.name %>
    <% end %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("goalEditing.viewGoal")) %>
<% end %>
