<%= title(t("goalChampionUpdating.v1AssingedYouAsTheChampion", %{v1: short_name(@author), v2: @goal.name})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("goalChampionUpdating.viewGoal")) %>
<% end %>
