<%= title(t("goalReopening.v1ReopenedTheV2Goal", %{v1: short_name(@author), v2: @goal.name})) %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@message) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("goalReopening.discuss")) %>
<% end %>
