<%= title(t("goalClosing.v1ClosedTheV2Goal", %{v1: short_name(@author), v2: @goal.name})) %>

<%= spacer() %>

<%= row do %>
  <%= if @success == "yes" do %>
    <%= t("goalClosing.markedAsAccomplished") %>
  <% else %>
    <%= t("goalClosing.markedAsNotAccomplished") %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@message) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, @cta_text) %>
<% end %>
