<%= t("goalDescriptionChanged.updatedTheDescriptionFor", %{v1: short_name(@author), v2: @goal_name}) %>

<%= if @description do %>
<%= t("goalDescriptionChanged.viewTheGoalToReadThe") %>
<% else %>
<%= t("goalDescriptionChanged.theDescriptionWasCleared") %>
<% end %>

<%= t("goalDescriptionChanged.viewGoal2", %{v1: @cta_url}) %>
