<%= t("guestInvited.invitedYouAsAnOutsideCollaborator", %{v1: short_name(@author), v2: @company.name}) %>

<%= t("guestInvited.youNowHaveAccessToAs", %{v1: @company.name}) %>

<%= t("guestInvited.logInToOperately2", %{v1: @login_url}) %>
