<%= title(t("guestInvited.v1InvitedYouAsAnOutside", %{v1: short_name(@author), v2: @company.name})) %>

<%= spacer() %>

<%= row do %>
  <%= t("guestInvited.youNowHaveAccessToAs", %{v1: @company.name}) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@login_url, t("guestInvited.logInToOperately")) %>
<% end %>
