<%= t("milestoneDescriptionUpdating.updatedTheDescriptionFor", %{v1: short_name(@author), v2: @milestone_name}) %>

<%= if @description do %>
<%= t("milestoneDescriptionUpdating.viewTheMilestoneToReadThe") %>
<% else %>
<%= t("milestoneDescriptionUpdating.theDescriptionWasCleared") %>
<% end %>

<%= t("milestoneDescriptionUpdating.viewMilestone2", %{v1: @cta_url}) %>
