<%= if @new_date do %>
  <%= title(t("milestoneDueDateUpdating.v1ChangedTheDueDateFor", %{v1: short_name(@author), v2: @name})) %>
<% else %>
  <%= title(t("milestoneDueDateUpdating.v1RemovedTheDueDateFor", %{v1: short_name(@author), v2: @name})) %>
<% end %>

<%= spacer() %>

<%= if @new_date do %>
  <%= if @previous_date do %>
    <%= row do %>
      <%= t("milestoneDueDateUpdating.theDueDateWasChangedFrom", %{v1: @previous_date, v2: @new_date}) %>
    <% end %>
  <% else %>
    <%= row do %>
      <%= t("milestoneDueDateUpdating.theDueDateIsNow", %{v1: @new_date}) %>
    <% end %>
  <% end %>
<% else %>
  <%= row do %>
    <%= t("milestoneDueDateUpdating.theDueDateWasRemovedPreviously", %{v1: @previous_date}) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("milestoneDueDateUpdating.viewProject")) %>
<% end %>
