<%= title(t("projectClosed.v1ClosedTheV2ProjectAnd", %{v1: short_name(@author), v2: @project.name})) %>

<%= spacer() %>
<%= title(t("projectClosed.retrospectiveNotes"), font_size: 20) %>

<%= row do %>
  <%= rich_text(@retrospective.content) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, @cta_text) %>
<% end %>
