<%= title(t("projectTimelineEdited.v1ChangedTheTimelineForV2", %{v1: short_name(@author), v2: @project.name})) %>

<%= spacer() %>

<%= if @duration_changed && @old_duration == :undefined do %>
  <%= row do %>
    <%= t("projectTimelineEdited.theDurationIsNow", %{v1: @new_duration}) %>
  <% end %>
<% end %>

<%= if @duration_changed && @old_duration != :undefined do %>
  <%= row do %>
    <%= t("projectTimelineEdited.theDurationWasChangedFromTo", %{v1: @old_duration, v2: @new_duration}) %>
  <% end %>
<% end %>

<%= if Enum.any?(@new_milestones) do %>
  <%= row do %>
    <%= t("projectTimelineEdited.newMilestonesAdded") %>
  <% end %>

  <%= for milestone <- @new_milestones do %>
    <%= row do %>
      - <%= milestone.title %>
    <% end %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("projectTimelineEdited.viewProject")) %>
<% end %>
