<%= title(t("projectContributorsAddition.v1AddedYouAsAContributor", %{v1: short_name(@author), v2: @project.name})) %>

<%= spacer() %>

<%= if @responsibility, do: "Your responsibility is: #{@responsibility}" %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("projectContributorsAddition.viewProject")) %>
<% end %>
