<%= title(t("projectArchived.v1ArchivedTheV2Project", %{v1: short_name(@author), v2: @project.name})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("projectArchived.viewArchivedProject")) %>
<% end %>
