<%= title(t("projectContributorAddition.v1AddedYouAsAV2", %{v1: short_name(@author), v2: @role, v3: @project.name})) %>

<%= spacer() %>

<%= @responsibility %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("projectContributorAddition.viewProject")) %>
<% end %>
