<%= title(t("projectCreated.v1AddedTheV2Project", %{v1: short_name(@author), v2: @project.name})) %>

<%= spacer() %>

<%= if @author_role do %>
  <%= row do %>
    - <%= short_name(@author) %> is a <%= @author_role %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("projectCreated.viewProject")) %>
<% end %>
