<%= title(t("projectGoalDisconnection.v1DisconnectedTheV2ProjectFrom", %{v1: short_name(@author), v2: @project.name, v3: @goal.name})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("projectGoalDisconnection.viewProject")) %>
<% end %>
