<%= if @new_date do %>
  <%= if @previous_date do %>
<%= t("projectDueDateUpdating.changedTheDueDateForFrom", %{v1: short_name(@author), v2: @project.name, v3: @previous_date, v4: @new_date}) %>
  <% else %>
<%= t("projectDueDateUpdating.setTheDueDateForTo", %{v1: short_name(@author), v2: @project.name, v3: @new_date}) %>
  <% end %>
<% else %>
  <%= if @previous_date do %>
<%= t("projectDueDateUpdating.removedTheDueDateForIt", %{v1: short_name(@author), v2: @project.name, v3: @previous_date}) %>
  <% else %>
<%= t("projectDueDateUpdating.removedTheDueDateFor", %{v1: short_name(@author), v2: @project.name}) %>
  <% end %>
<% end %>

<%= t("projectDueDateUpdating.link", %{v1: @cta_url}) %>
