<%= title(t("projectDescriptionChanged.v1UpdatedTheV2ProjectDescription", %{v1: short_name(@author), v2: @project_name})) %>

<%= spacer() %>

<%= if @description do %>
  <%= row do %>
    <%= rich_text(@description) %>
  <% end %>
<% else %>
  <%= row do %>
    <%= t("projectDescriptionChanged.theDescriptionWasCleared") %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("projectDescriptionChanged.viewProject")) %>
<% end %>
