<%= if @new_date do %>
  <%= if @previous_date do %>
    <%= title(t("projectDueDateUpdating.v1ChangedTheDueDateFor", %{v1: short_name(@author), v2: @project.name})) %>
  <% else %>
    <%= title(t("projectDueDateUpdating.v1SetTheDueDateFor", %{v1: short_name(@author), v2: @project.name})) %>
  <% end %>
<% else %>
  <%= title(t("projectDueDateUpdating.v1RemovedTheDueDateFor", %{v1: short_name(@author), v2: @project.name})) %>
<% end %>

<%= spacer() %>

<%= if @new_date do %>
  <%= if @previous_date do %>
    <%= row do %>
      <%= t("projectDueDateUpdating.theDueDateWasChangedFrom", %{v1: @previous_date, v2: @new_date}) %>
    <% end %>
  <% else %>
    <%= row do %>
      <%= t("projectDueDateUpdating.theDueDateIsNow", %{v1: @new_date}) %>
    <% end %>
  <% end %>
<% else %>
  <%= row do %>
    <%= if @previous_date do %>
      <%= t("projectDueDateUpdating.theDueDateWasRemovedPreviously", %{v1: @previous_date}) %>
    <% else %>
      <%= t("projectDueDateUpdating.theDueDateWasRemoved") %>
    <% end %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("projectDueDateUpdating.viewProject")) %>
<% end %>
