<%= title(t("projectGoalConnection.v1ConnectedTheV2ProjectTo", %{v1: short_name(@author), v2: @project.name, v3: @goal.name})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("projectGoalConnection.viewProject")) %>
<% end %>
