<%= if @champion == nil do %>
  <%= title(t("projectChampionUpdating.v1RemovedTheChampionOnV2", %{v1: short_name(@author), v2: @project.name})) %>
<% else %>
  <%= if @champion.id == @person.id do %>
    <%= title(t("projectChampionUpdating.v1AssignedYouAsTheChampion", %{v1: short_name(@author), v2: @project.name})) %>
  <% else %>
    <%= title(t("projectChampionUpdating.v1AssignedV2AsTheChampion", %{v1: short_name(@author), v2: short_name(@champion), v3: @project.name})) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("projectChampionUpdating.viewProject")) %>
<% end %>
