<%= title(t("projectMilestoneCreation.v1CreatedTheV2Milestone", %{v1: short_name(@author), v2: @milestone.title})) %>

<%= spacer() %>

<%= row do %>
  <%= t("projectMilestoneCreation.aNewMilestoneWasAddedTo", %{v1: @project.name}) %>
<% end %>

<%= if @due_date do %>
  <%= spacer() %>
  <%= row do %>
    <%= t("projectMilestoneCreation.itIsScheduledFor", %{v1: @due_date}) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("projectMilestoneCreation.viewMilestone")) %>
<% end %>
