<%= title(t("projectCheckInSubmitted.v1SubmittedACheckIn", %{v1: short_name(@author)})) %>

<%= spacer() %>

<%= title(t("projectCheckInSubmitted.overview"), font_size: "16") %>

<%= row do %>
  <%= rich_text(@overview) %>
<% end %>

<%= spacer() %>

<%= title(t("projectCheckInSubmitted.checkInNotes"), font_size: "16") %>

<%= row do %>
  <%= rich_text(@check_in.description) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, @cta_text) %>
<% end %>
