<%= t("projectDescriptionChanged.updatedTheProjectDescription", %{v1: short_name(@author), v2: @project_name}) %>

<%= if @description do %>
<%= t("projectDescriptionChanged.viewTheProjectToReadThe") %>
<% else %>
<%= t("projectDescriptionChanged.theDescriptionWasCleared") %>
<% end %>

<%= t("projectDescriptionChanged.viewProject2", %{v1: @cta_url}) %>
