<%= t("projectMilestoneCreation.createdTheMilestoneFor", %{v1: short_name(@author), v2: @milestone.title, v3: @project.name}) %>
<%= if @due_date do %>
<%= t("projectMilestoneCreation.itIsScheduledFor", %{v1: @due_date}) %>
<% end %>

<%= t("projectMilestoneCreation.link", %{v1: @cta_url}) %>
