<%= title(t("resetPassword.resetYourPassword")) %>

<%= spacer() %>

<%= row do %>
  <%= t("resetPassword.weReceivedARequestToReset") %>
  <%= t("resetPassword.visitTheLinkBelowToReset") %>
<% end %>

<%= spacer() %>

<%= row do %>
  <a href="<%= @reset_url %>"><%= t("resetPassword.resetPasswordLink") %></a>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= t("resetPassword.theLinkWillExpireIn24") %>
<% end %>
