<%= short_name(@author) %> <%= @action %>

<%= if length(@files) == 1 do %>
    <%= t("resourceHubFileCreated.link", %{v1: @file_url}) %>
<% else %>
    <%= t("resourceHubFileCreated.link", %{v1: @cta_url}) %>
<% end %>
