<%= title(t("resourceHubLinkDeleted.v1DeletedALinkV2", %{v1: short_name(@author), v2: @link.name})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("resourceHubLinkDeleted.viewResourceHub")) %>
<% end %>
