<%= title(t("resourceHubLinkCreated.v1AddedALink", %{v1: short_name(@author)})) %>

<%= spacer() %>

<%= row do %>
  <%= @link.name %>
<% end %>
<%= row do %>
  <%= @link.url %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("resourceHubLinkCreated.viewLink")) %>
<% end %>
