<%= if @copied_document do %>
  <%= title(t("resourceHubDocumentCreated.v1CreatedACopyOfV2", %{v1: short_name(@author), v2: @copied_document.name, v3: @document.name})) %>
<% else %>
  <%= title(t("resourceHubDocumentCreated.v1AddedADocumentV2", %{v1: short_name(@author), v2: @document.name})) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= rich_text(@document.content) %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("resourceHubDocumentCreated.viewDocument")) %>
<% end %>
