<%= title(t("resourceHubLinkEdited.v1EditedALinkV2", %{v1: short_name(@author), v2: @link.name})) %>

<%= spacer() %>

<%= row do %>
  <%= @link.name %>
<% end %>
<%= row do %>
  <%= @link.url %>
<% end %>

<%= spacer() %>
<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("resourceHubLinkEdited.viewLink")) %>
<% end %>
