<%= title(t("spaceMembersAdded.v1AddedYouToTheV2", %{v1: short_name(@author), v2: @space.name})) %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@link, t("spaceMembersAdded.viewSpace")) %>
<% end %>
