<%= title(t("taskMoving.v1MovedV2", %{v1: short_name(@author), v2: @task_name})) %>

<%= spacer() %>

<%= row do %>
  <%= t("taskMoving.theTaskIsNowIn", %{v1: @destination_name}) %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("taskMoving.viewTask")) %>
<% end %>
