<%= short_name(@author) %> <%= @action %>.

<%= if @description do %>
<%= Operately.MD.RichText.render(@description) %>

<% else %>
<%= t("taskDescriptionChange.theDescriptionWasCleared") %>

<% end %>
<%= t("taskDescriptionChange.link", %{v1: @cta_url}) %>
