<%= if @assigned_to_recipient do %>
  <%= title(t("taskAssigneeUpdating.v1AssignedYouTheTaskV2", %{v1: short_name(@author), v2: @name})) %>
<% else %>
<%= if @removed_from_recipient do %>
  <%= title(t("taskAssigneeUpdating.v1RemovedYouFromTheTask", %{v1: short_name(@author), v2: @name})) %>
<% else %>
  <%= if @new_assignee do %>
  <%= title(t("taskAssigneeUpdating.v1ChangedTheAssigneesForV2", %{v1: short_name(@author), v2: @name})) %>
  <% else %>
    <%= title(t("taskAssigneeUpdating.v1RemovedAssigneesForV2", %{v1: short_name(@author), v2: @name})) %>
  <% end %>
<% end %>
<% end %>

<%= spacer() %>

<%= if @assigned_to_recipient do %>
  <%= row do %>
    <%= t("taskAssigneeUpdating.youAreNowAssignedToThis") %>
  <% end %>
<% else %>
<%= if @removed_from_recipient do %>
  <%= row do %>
    <%= t("taskAssigneeUpdating.youAreNoLongerAssignedTo") %>
  <% end %>
<% else %>
  <%= if @new_assignee do %>
    <%= if @old_assignee do %>
      <%= row do %>
        <%= t("taskAssigneeUpdating.theAssigneeWasChangedFromTo", %{v1: short_name(@old_assignee), v2: short_name(@new_assignee)}) %>
      <% end %>
    <% else %>
      <%= row do %>
        <%= t("taskAssigneeUpdating.theAssigneeIsNow", %{v1: short_name(@new_assignee)}) %>
      <% end %>
    <% end %>
  <% else %>
    <%= row do %>
      <%= if @old_assignee do %>
        <%= t("taskAssigneeUpdating.theAssigneeWasRemovedPreviouslyIt", %{v1: short_name(@old_assignee)}) %>
      <% else %>
        <%= t("taskAssigneeUpdating.theTaskAssigneesWereChanged") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("taskAssigneeUpdating.viewTask")) %>
<% end %>
