<%= if @new_date do %>
  <%= title(t("taskDueDateUpdating.v1ChangedTheDueDateFor", %{v1: short_name(@author), v2: @name})) %>
<% else %>
  <%= title(t("taskDueDateUpdating.v1RemovedTheDueDateFor", %{v1: short_name(@author), v2: @name})) %>
<% end %>

<%= spacer() %>

<%= if @new_date do %>
  <%= if @previous_date do %>
    <%= row do %>
      <%= t("taskDueDateUpdating.theDueDateWasChangedFrom", %{v1: @previous_date, v2: @new_date}) %>
    <% end %>
  <% else %>
    <%= row do %>
      <%= t("taskDueDateUpdating.theDueDateIsNow", %{v1: @new_date}) %>
    <% end %>
  <% end %>
<% else %>
  <%= row do %>
    <%= t("taskDueDateUpdating.theDueDateWasRemovedPreviously", %{v1: @previous_date}) %>
  <% end %>
<% end %>

<%= spacer() %>

<%= row do %>
  <%= cta_button(@cta_url, t("taskDueDateUpdating.viewTask")) %>
<% end %>
