<%= if @assigned_to_recipient do %>
<%= t("taskAssigneeUpdating.assignedYouTheTask", %{v1: short_name(@author), v2: @name}) %>

<%= t("taskAssigneeUpdating.youAreNowAssignedToThis") %>
<% else %>
<%= if @removed_from_recipient do %>
<%= t("taskAssigneeUpdating.removedYouFromTheTask", %{v1: short_name(@author), v2: @name}) %>

<%= t("taskAssigneeUpdating.youAreNoLongerAssignedTo") %>
<% else %>
<%= t("taskAssigneeUpdating.changedTheAssigneesFor", %{v1: short_name(@author), v2: @name}) %>
<% end %>
<% end %>

<%= t("taskAssigneeUpdating.link", %{v1: @cta_url}) %>
